.container {
  width: 25rem;
  margin: 1rem auto 0 auto;
  border: 2px solid #eee;
  padding: 1.5rem 1rem;
  border-radius: 7px;
}

.user_photo {
  display: block;
  width: 100%;
  height: auto;
}

.container .contact-information h3.header, .container .work-experience h3.header {
  text-align: center;
}

.container .contact-information {
  margin-top: 1rem;
}

.container h3 {
  margin: 0 0 1rem 0;
}

.contact_phone, .contact_email {
  display: block;
  margin-bottom: 1rem;
}

.work-experience {
  margin-top: 1rem;
}